<h2>📘 Task 1: Books Availability Percentage</h2>

<table border="1" cellpadding="10" style="border-collapse: collapse;">
    <tr style="background:#eee; font-weight:bold;">
        <th>Book Title</th>
        <th>Quantity</th>
        <th>Availability %</th>
    </tr>

    <tr><td>Book Thie</td><td>8</td><td>13.79%</td></tr>
    <tr><td>Clean Code</td><td>7</td><td>12.07%</td></tr>
    <tr><td>The Pragmatic Programmer</td><td>2</td><td>3.45%</td></tr>
    <tr><td>Working Algorithms</td><td>6</td><td>10.34%</td></tr>
    <tr><td>Tomsis-Driven Design</td><td>12</td><td>20.69%</td></tr>
    <tr><td>Refactoring</td><td>1</td><td>1.72%</td></tr>
    <tr><td>Design Patterns</td><td>5</td><td>8.62%</td></tr>
    <tr><td>Test Driven Development</td><td>4</td><td>6.89%</td></tr>
    <tr><td>Working Effectively with Legacy Code</td><td>3</td><td>5.17%</td></tr>
    <tr><td>The Clean Coder</td><td>8</td><td>13.79%</td></tr>
</table>
