<!DOCTYPE html>
<html>
<head>
    <title>Task 6</title>
    <style>
        table {
            border-collapse: collapse;
            border: 2px solid black; /* إطار كامل للجدول */
            margin-left: 0;
        }
        th, td {
            border: 1px solid black; /* خطوط داخلية */
            padding: 8px 15px;
            text-align: left;
        }
    </style>
</head>
<body>

<h3>
Task 6: Specific Books Count (Price > 30 & Qty < 5)
</h3>

<table>
    <tr>
        <th>Publisher Name</th>
        <th>Count of Matches</th>
    </tr>

    <tr>
        <td>O'Reilly Media</td>
        <td>3</td>
    </tr>

    <tr>
        <td>Pearson Education</td>
        <td>2</td>
    </tr>

    <tr>
        <td>McGraw Publications</td>
        <td>1</td>
    </tr>

</table>

</body>
</html>