<h2>Task 4: Price Statistics per Publisher</h2>

<table border="1" cellpadding="6" style="border-collapse: collapse; width: 40%; font-size:14px;">
    <tr>
        <th>Publisher</th>
        <th>Avg Price</th>
        <th>Min Price</th>
        <th>Max Price</th>
    </tr>

    <tr>
        <td>O’Reilly Media</td>
        <td>$95.00</td>
        <td>$25.00</td>
        <td>$140.00</td>
    </tr>

    <tr>
        <td>Manning Publications</td>
        <td>$130.00</td>
        <td>$120.00</td>
        <td>$140.00</td>
    </tr>
</table>
